<h1> <%= @restaurant.name %> </h1>

<% if @restaurant.rating == 5 %>
  <p>Rating: ⭐⭐⭐⭐⭐</p>
<% elsif @restaurant.rating == 4 %>
  <p>Rating: ⭐⭐⭐⭐</p>
<% elsif @restaurant.rating == 3 %>
  <p>Rating: ⭐⭐⭐ </p>
<% elsif @restaurant.rating == 2 %>
  <p>Rating: ⭐⭐</p>
<% elsif @restaurant.rating == 1 %>
  <p>Rating: ⭐</p>
<% else %>
  <p>No rating available</p>
<% end %>

<p>Rating: <%= "❤️" * @restaurant.rating %> </p>
<p>Address: <%= @restaurant.address %></p>
<%= link_to "Delete", restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Go back", restaurants_path %>
